{
    "env": {
        "es2021": true,
        "node": true
    },
    "extends": [
        "airbnb-base"
    ],
    "overrides": [
    ],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "rules": {        
        "linebreak-style": 1,        
        "no-underscore-dangle": [
            "error",
            { "allow": ["_id"] }
        ],
        "no-unused-vars": "warn",
        "no-console": "warn",
        "consistent-return": "warn"
    }
}
